body {background: gray;}

nav {background-color: #121212;}

.pointer {cursor: pointer;cursor: hand;}

button:focus {outline: none;}
    
#calc {margin-top: 0.5rem;margin-bottom: 4rem;}

.blackMain {background-color: #101010;}

.blackTop {background-color: #202020;}

.blackBottom {background-color: #252525;}

.red {background-color: #CB2028;}

#calcTitle {
    color: white;
    min-width: 100%;
}

#display {
    border: none;
    height: 3rem;
    color: white;
    font-size: 2rem;
}

#displayMini {
    border: none;
    height: 3rem;
    color: white;
    font-size: 0.9rem;
}

@media (min-width: 576px) {
    #calc {margin-top: 1rem;}
}

@media (min-width: 768px) {
    #calc {margin-top: 2rem;}
}

@media (min-width: 992px) {
    #calc {margin-top: 3rem;}
}

@media (min-width: 1200px) {
    #calc {margin-top: 4rem;}
}